/*general settings*/
body{color:#353b3a; background-color:#f1f2f2; font-family:'AvenirLTStd-Medium';padding-top:50px}
a, p{color:#808285;}a:hover, a:active, a:focus{color:#353b3a;}
ul, ul li, ol, ol li{ margin:0; padding:0; list-style:none;}
b, strong{ font-weight:normal;font-family:'AvenirLTStd-Black';}
h1{font-family:'AvenirLTStd-Light';}
h2{font-family:'AvenirLTStd-Black';}
h3{font-family:'AvenirLTStd-Medium'}

@font-face{
	font-family:'AvenirLTStd-Light';
	src:url(../fonts/AvenirLTStd-Light_gdi.eot);
	src:url(../fonts/AvenirLTStd-Light_gdi.eot?#iefix) format('embedded-opentype'),
	url(../fonts/AvenirLTStd-Light_gdi.woff) format('woff'),url(../fonts/AvenirLTStd-Light_gdi.ttf) format('truetype'),
	url(../fonts/AvenirLTStd-Light_gdi.svg#AvenirLTStd-Light) format('svg');
	font-weight:300;
	font-style:normal;
	font-stretch:normal;
	unicode-range:U+0020-25CA
	}
@font-face{
	font-family:'AvenirLTStd-Black';
	src:url(../fonts/AvenirLTStd-Black_gdi.eot);
	src:url(../fonts/AvenirLTStd-Black_gdi.eot?#iefix) format('embedded-opentype'),
	url(../fonts/AvenirLTStd-Black_gdi.woff) format('woff'),url(../fonts/AvenirLTStd-Black_gdi.ttf) format('truetype'),
	url(../fonts/AvenirLTStd-Black_gdi.svg#AvenirLTStd-Black) format('svg');
	font-weight:750;
	font-style:normal;
	font-stretch:normal;
	unicode-range:U+0020-25CA
	}
@font-face{
	font-family:'AvenirLTStd-Medium';src:url(../fonts/AvenirLTStd-Medium_gdi.eot);
	src:url(../fonts/AvenirLTStd-Medium_gdi.eot?#iefix) format('embedded-opentype'),
	url(../fonts/AvenirLTStd-Medium_gdi.woff) format('woff'),url(../fonts/AvenirLTStd-Medium_gdi.ttf) format('truetype'),
	url(../fonts/AvenirLTStd-Medium_gdi.svg#AvenirLTStd-Medium) format('svg');
	font-weight:550;
	font-style:normal;
	font-stretch:normal;
	unicode-range:U+0020-25CA
}

.main{padding:20px}
.main .page-header{margin-top:0}
.sub-header{padding-bottom:10px;border-bottom:1px solid #eee}
.navbar-fixed-top{border:0}
.nav-sidebar{margin-right:-21px;margin-bottom:20px;margin-left:-20px}
.nav-sidebar>li>a{padding-right:20px;padding-left:20px}
.nav-sidebar>.active>a,.nav-sidebar>.active>a:focus,.nav-sidebar>.active>a:hover{color:#fff;background-color:#428bca}
.placeholders{margin-bottom:30px;text-align:center}
.placeholders h4{margin-bottom:0}.placeholder{margin-bottom:20px}.placeholder img{display:inline-block;border-radius:50%}
.sidebar{
	padding:20px;overflow-x:hidden;overflow-y:auto;border-right:1px solid #eee; height: 100%;
}


/*colores*/
.vok{color:#007b3c}.nok{color:#e9580c}.vok_bg{background-color:#007b3c}.nok_bg{background-color:#e9580c}
.light_bg{background-color:#f1f2f2}.default_bg{background-color:#bcbec0}.dark_bg{background-color:#353b3a}
.operacion{ color:#6dc7e3} .operacion_bg{ background-color:#6dc7e3;} .operacion_border{ box-shadow:0 4px 0 0 #366472}

/*navbar*/
.navbar-header{ width:320px;box-sizing:border-box; position:absolute; left:0; top:0; height:50px;}
.navbar-collapse { float:left; width:40.8%; left:305px; position:relative}
.navbar-collapse .navbar-form {
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
}
.nav > li > a:focus, .nav > li > a:hover, .nav > li.active a{background-color:#353b3a; color:#fff}
.navbar-toggle{background-color:#353b3a; color:#fff}.navbar-nav{ padding:0; background-color:#fff;}
.navbar { background-color:#fff;}
.navbar-brand{ 
	background: url(../img/logo.png) no-repeat center center;
    background-size: 49%;
    width: 265px;
    text-indent: -9999px;
    height: 50px;
    padding: 0;
}
.nav > li > a.selected{background-color: #EEE;color:#353b3a}

/* add contact button */
.btn-add-contact {
	position:fixed; 
	display:block; 
	bottom:50px; 
	right:50px; 
	background:#0B0; 
	border-radius:100%; 
	width:75px; 
	height:75px; 
	-webkit-box-shadow: 5px 3px 10px 5px rgba(100,100,100,0.25);
	box-shadow: 5px 3px 10px 5px rgba(100,100,100,0.25); 
	color:transparent; 
	font-size:-10px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.btn-add-contact span { color: white; position: relative; top: 19px; left: 21px; font-size: 2.5em; }
.btn-add-contact:hover{color:transparent; font-size:-10px; background-color:#bcbec0}
.sidebar .nav > li > a:focus, .sidebar .nav > li > a:hover{ background-color:#8A3003}

/* sidebar */
.sidebar{background-color:#8A3003;border-right:none}
.sidebar h4{  margin:0 -20px;padding:10px 5px}
.sidebar ul.filters{ margin:20px -10px 0 -10px}
.sidebar ul.filters li{ padding:0 5px 20px 5px; position:relative; margin-bottom:20px; }
.sidebar ul.filters li a.btn:after {
	position:absolute; 
	top:2px; 
	right:10px;
	color:#bcbec0;
	transform:rotate(180deg);
	font-size:.9em;
}
.sidebar ul.filters li a.btn.collapsed:after{ transform:rotate(0);}
.sidebar ul.filters li a.btn{ 
	padding:0; 
	text-align:left; 
	background:none; 
	box-shadow:none; 
	border:none;
	font-family:'AvenirLTStd-Black'; 
	font-size:.9em; 
	letter-spacing:2px; 
	margin-bottom:10px; 
	text-transform:uppercase;
	color:#fff; 
	width:100%;
}
.nav-sidebar > li, .nav-sidebar > li a {
	padding:5px !important;
	color:#FFFFFF;
	cursor: pointer;
}
.nav-sidebar > li{ margin-bottom:0 !important; padding:0 !important; display:block !important; border-bottom:none !important}
.sidebar .collapse ul.nav-sidebar{ width:100%; margin:0; padding:0;}
.sidebar .collapsing ul.nav-sidebar{ opacity:0}
.sidebar ul.filters li a span{ font-size:1.5em; float:left; margin-right:5px; }
.sidebar .navbar-form .checkbox label, .sidebar .navbar-form .radio label{ width:100%;}

.navbar-form input[type="search"]{ width:100%;}

.sidebar .active-filters h5 {
	margin-left: 10px;
    text-transform: uppercase;
    color: #fff;
}

.sidebar .active-filters li {
    color: black;
    background-color: #E9E9E9;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    margin: 2px;
}
.sidebar .active-filters li a {
	cursor: pointer;
    float: right;
    line-height: 24px;
}

/*contact list*/

.task{-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;-ms-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;transition: all 0.25s ease-in-out; opacity:.5}
.task:first-child, .home .task{ opacity:1}
.task:hover{ background-color:#fafafa;box-shadow:0 4px 0 0 #ddd; opacity:1}
.task.selected{ box-shadow:0 4px 0 0 #ddd; opacity:1}
.task.no-task{background-color:#ddd;} .task.no-task .panel-subtitle{border-top:#ccc solid 1px;}
.task .checkbox{ margin:0;}
.task h4{ margin:0}
.task .panel-body p.lead{ margin:10px 0 0 0; font-size:1.25em;line-height:20px;color:#353b3a;}
.task .panel-heading h4{ color:#353b3a; font-family: 'AvenirLTStd-Black'; font-size:1.3em}
.task .panel-heading .checkbox label::before{ margin-top:3px}.task .panel-heading .checkbox label::after{ top:3px}
.task .panel-heading{ padding-bottom:0;}.task .panel-body{ padding-top:0; padding-bottom:0;}
.task .panel-heading .date{ position:absolute; right:0; padding:2px 10px; background-color:#808285; color:#fff; font-size:.8em}
.task .panel-heading .date:after {left: 100%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 102, 102, 0);border-left-color: #808285;border-width: 10px;margin-top: -10px;}
.task .panel-heading .date.red{background-color:#ff6666;}.task .panel-heading .date.red:after{border-left-color:#ff6666;}
.task .panel-heading .date.green{background-color:#66B08A;}.task .panel-heading .date.green:after{border-left-color:#66B08A;}
.task .panel-heading .date.yellow{background-color:#ffcc7a;}.task .panel-heading .date.yellow:after{border-left-color:#ffcc7a;}
.task .panel-heading .date.black{background-color:#353b3a;}.task .panel-heading .date.black:after{border-left-color:#353b3a;}
.task .panel-title{ padding:10px 0 5px 0;} .task .panel-heading .panel-title h4{color:#353b3a}
.task .panel-title p{ margin:0; display:inline-block; font-size:.9em;}
.task .panel-subtitle { color:#353b3a; position:relative;}
.task .panel-subtitle h4, .task .panel-subtitle h5{ margin:0 !important; line-height:30px !important; font-size:1em !important}
.task .panel-subtitle h4 small{ text-transform:uppercase; letter-spacing:2px; font-size:.6em}
.task .panel-subtitle h5{ border-left:1px solid #fff; padding-right:0; color:#808285}.task .panel-subtitle h4{ padding-left:0; color:#808285}
.task .panel-body{ margin-top:5px; padding-top:5px; border-top:1px solid #f1f2f2}
.task .panel-body h4{line-height:20px; font-size:1.15em; margin:0; }
.task a:hover{ text-decoration:none !important;}
/*contact*/
.task.contact .panel-body{ padding-bottom:5px; margin-top:0}
.task.contact .panel-heading p{ margin-bottom:0}
.task.contact .panel-heading h4{color: #353B3A;font-family: "AvenirLTStd-Black";}
.task-filter-applied:before{ content:'Filtros aplicados:'; display:block; float:left; font-size:1.15em; line-height:34px;margin-right:10px}
.icon-alpha-desc:before{ content:''; background:url(../img/alpha.svg) no-repeat center center; width:18px; height:20px; display:block }

/*contact detail*/
.contact-detail .panel-heading{ margin-bottom:10px; padding-left:0; padding-right:0; padding-bottom:0}
.contact-detail .subpanel-heading {margin-top: 20px;}
.contact-detail .subpanel-heading h5 {
	width:100%; 
	text-align:right; 
	border-bottom: 1px solid #DDDDDD;
	line-height:0.1em; 
	margin:10px 0 20px; 
} 
.contact-detail .subpanel-heading h5 span {
	color: #999999;
	background: #FFFFFF; 
	text-transform: capitalize;
	font-style: italic;
	padding:0 10px;
}
.contact-detail .subpanel-heading h5 a:hover {text-decoration: none;}
.contact-detail .subpanel-heading h5 a span {
	color: #444444;
	background: #EEEEEE;
	padding: 3px 10px; 
	font-style: normal;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	text-decoration: none;
}
.contact-detail .subpanel-heading h5 a:hover span {	background: #BBBBBB;border: 1px solid #BBBBBB;}
.contact-detail .subpanel-heading h5 a span:after {	padding-left: 5px;content: "▾";}
.contact-detail .panel-actions { margin-top:4px}
.contact-detail .panel-actions a { padding:0 0 0 10px}
.contact-detail .panel-actions a:hover { text-decoration:none; cursor: pointer; }
.contact-detail .panel-actions a span { font-size:1.5em}
.contact-detail .panel-title { margin-top:10px; padding: 0px }
.contact-detail .panel-title h3 { color:#353b3a; margin:0;font-family:'AvenirLTStd-Black';}
.contact-detail .panel-title h3 a { color:#353b3a; }
.contact-detail .panel-title h5 {
	color:#353b3a; 
	font-family: 'AvenirLTStd-Black'; 
	text-transform: uppercase;
	padding-bottom: 5px;
	border-bottom:#ccc solid 1px;
}
.contact-detail .panel-data{ padding: 0px}
.contact-detail .panel-data p{ margin: 0px; padding: 0px}
.contact-detail .v-card p{color:#353b3a; margin-right:10px; padding-right:10px; font-size:.9em}
a.mailto {color: #337ab7;}
span.icon-email{ background: url(../img/email.png) no-repeat center bottom; width:17px; height:17px; background-size:cover; display:inline-block; vertical-align:middle; margin-right: 5px;}
span.icon-phone{ background: url(../img/phone.png) no-repeat center bottom; width:17px; height:17px; background-size:cover; display:inline-block; vertical-align:middle; margin-right: 5px;}
span.icon-skype{ background: url(../img/skype.png) no-repeat center bottom; width:17px; height:17px; background-size:cover; display:inline-block; vertical-align:middle; margin-right: 5px;}
span.icon-linkedin { background: url(../img/linkedin.png) no-repeat center bottom; width: 20px; height: 20px; background-size: cover; display: inline-block; vertical-align: middle; }
.contact-detail .v-card p:last-child, .contact-detail .v-card p:nth-child(4){ border:none; padding-right:0; }
.contact-detail div.comment{ margin:10px 0; display:table; width:100%}.contact-detail div.comment p{ font-size:.9em; margin-bottom:0;}
.contact-detail span.contact-type {font-weight: bold; color: #FE1256;}
.contact-detail .progress { margin: 10px 0px 5px 0px; width: 100%; float: right; }
.contact-detail div.alert-estatus{background-color:#ffb6b6; border:none; color:#353b3a; padding:15px 15px 10px 15px; margin-bottom:10px;}
.contact-detail div.alert-estatus p{margin-top:10px; color:#353b3a; font-size:1.25em}
.contact-detail div.alert-estatus h4 strong{font-family:'AvenirLTStd-Black'; font-size:.8em; letter-spacing:2px; text-transform:uppercase;color:#bf6464; }
.contact-detail .alert-heading h4{ padding-left:22px; letter-spacing:normal; text-transform:none; font-family:'AvenirLTStd-Medium'; font-size:1.15em; margin-top:4px;} 
.contact-detail .alert-heading{ position:relative; margin-bottom:10px;}
.contact-detail .alert-heading .checkbox{ position:absolute;}
.contact-detail .alert-heading .checkbox, .contact-detail .alert-heading h4{ margin:0}
.contact-detail .alert-heading .date{position:absolute; right:0; padding:2px 10px 2px 30px; background-color:#A7A9AC; color:#fff; margin:0; top:-5px; font-size:.8em;}
.contact-detail .alert-heading .date.red{background-color:#ff6666;}
.contact-detail .alert-heading .date.green{background-color:#66B08A;}
.contact-detail .alert-heading .date.yellow{background-color:#ffcc7a;}

.contact-detail .alert-heading .date:after {right:80%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 182, 182, 0);border-right-color: #ffb6b6;border-width:12px;margin-top: -12px;transform: rotate(180deg);}
.contact-detail .operacion{ background-color:#fff; width:100%; margin:0;color:#353b3a; position:relative; font-size:.8em; }
.contact-detail .operacion p{ margin:0 !important; padding:5px 10px}
.contact-detail .operacion .col-md-4{border-left:1px solid #ffb6b6}
.contact-detail p.task-description{ position:relative; padding-right:30px}.contact-detail p.task-description a{ position:absolute; color:#fff; top:0; right:10px; font-size:1em}.contact-detail p.task-description a:hover{color:#ff6666}
.contact-detail .panel-body{ padding:0}
.contact-detail .panel-group{ margin:0}
.contact-detail .task:hover{ background:none}
.contact-detail .task .panel-heading .checkbox label::before { margin-top:0}
.contact-detail .task .panel-heading label{font-family:'AvenirLTStd-Medium'; font-size:1em; line-height:20px}
.contact-detail .task .panel-heading label:hover{ color:#999}
.contact-detail .task .panel-heading{ border:none; height:2em; display:table; margin-bottom:0; width:100%;}
.contact-detail .task p.date{position:absolute; right:0; padding:2px 10px 2px 30px; background-color:#ccc; color:#fff; margin:0; top:-30px; font-size:.8em; opacity:0;-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;-ms-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;transition: all 0.25s ease-in-out;}
.contact-detail .task p.date:after {right:80%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 255, 255, 0);border-right-color: #ffffff;border-width:12px;margin-top: -12px;transform: rotate(180deg); left:0}
.contact-detail .task.panel{ box-shadow:none !important}
.contact-detail .task .collapse.in p.date{ opacity:1;}
.contact-detail .task .collapse{ position:relative; border:none !important;}
.contact-detail .task .panel-body{ border:none !important; padding:0}
.contact-detail .task-edit{ margin-left:10px}
a:focus{ outline:none}

.op-list{ margin:20px 0; padding:10px 0; border-top:1px solid #ddd; border-bottom:1px solid #ddd}
.op-list article.task{ background-color:#ddd; padding-left:10px; padding-right:10px; overflow:hidden;}
.op-list article.task:hover{background-color:#ddd;}
.op-list article.task .panel-heading{ width:100%;position:relative; border:none;}
.op-list article.task .panel-heading .task-edit{ margin:-2px 10px 0 0}
.op-list article.task .panel-heading .task-edit a{ color:#353B3A;}
.op-list article.task .panel-heading h5{margin-top:0; margin-bottom:5px; font-size:1.25em}
.op-list article.task .panel-heading .date.black{background-color:#353B3A; position:relative; top:0; right:-10px; opacity:1}
.op-list article.task .panel-heading .date.black:after {right:80%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 182, 182, 0);border-right-color: #ddd;border-width:12px;margin-top: -12px;transform: rotate(180deg);}
.op-list article.task .panel-heading  .panel-subtitle{ margin:0 -15px; width:calc(100% + 30px)}

/*tabs*/
.tabs { margin-top:10px;}
.tabs .tab-content { border-left:1px solid #ddd; border-bottom:1px solid #ddd; border-right:1px solid #ddd}
.tabs .nav li a{ padding:5px 10px}
.timeline{ padding:10px}
.task-history{ border-left:1px solid #ff6666; padding-left:20px; padding-bottom:100px}
.task-history ul li{ background-color:#fafafa; margin-bottom:20px; padding:10px; position:relative;}
.task-history ul li h5{ margin-top:-5px}
.task-history ul li:before{ position:absolute; left:-25px; display:block; content:''; border-radius:100%; background-color:#ff6666; height:10px; width:10px; top:50%;}
.task-history ul li article {position: relative;background: #fafafa;}
.task-history ul li article:before {right: 100%;top:75%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(250, 250, 250, 0);border-right-color: #fafafa;border-width: 20px;margin-top: -20px;}
.task-history ul li article:after{font-family:'Helium'; display:block; position:absolute; right:0; top:0; font-size:1.15em; text-align:center; line-height:25px; width:25px; height:25px; background-color:#fff; border-radius:2px}
.task-history ul li article.task-closed:after{ content:'\e647'; }
.task-history ul li article.op-won:after{ content:'\e670'; }
.task-history ul li article.op-lost:after{ content:'\e66f';}

/*modales*/
.modal-content{ overflow:hidden}
.modal-header h4{ color:#fff; text-align:center; font-size:2em; font-weight:normal}
.modal-header{ margin-bottom:20px}
.modal-content label{ font-weight:normal}
.modal-footer{ text-align:center;}.modal-footer .btn{ border:none}.modal-footer .btn:hover{ background:#000}
/*contacto*/
.task-filter-applied a.btn span{ font-size:1.5em; display:block !important;}
.task-filter-applied a.btn span.icon-play{ transform:rotate(90deg) !important}

/*editar contacto*/
.contact-edit .panel-heading, .contact-new .panel-heading, .contact-detail.solo .panel-heading{ display:table; width:100%; padding:0}
.contact-edit .panel-heading .panel-actions, .contact-new .panel-heading .panel-actions{ margin-top:20px}
.contact-edit hr, .contact-new hr{ margin-top:5px; margin-bottom:5px}

.form-control:focus{border-color: #ddd;outline: 0px none;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(200, 200, 200, 0.6);}

/*fixed height main panels*/
.relative{ position:relative;}
.contact-new, .contact-detail.solo, .contact-edit.solo{ left:0}
.contact-list, .contact-edit, .contact-detail, .contact-new{ overflow-x:hidden; overflow-y:auto;}
.contact-edit form .form-group, .contact-new form .form-group, .contact-detail.solo form .form-group{ width:75%}
